@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');

@layer base {
  html,
  body {
    font-family: 'JetBrains Mono', monospace;
    background: #000;
    color: #fff;
  }
}
